.u-section-1 .u-sheet-1 {
  min-height: 585px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 402px;
  margin: 91px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 381px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 240px;
  }
}.u-block-6d98-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-6d98-3 {
  position: absolute;
  left: 0;
}

.u-block-6d98-4 {
  position: absolute;
  right: 0;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 50vw;
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 354px;
  }
}